.my-account {
    h1 {
        margin: 1rem;
    }
    .account-details {
        display: flex;
        background-color: #fff;
    
    .accountdetails-link {
        display: flex;
        flex-direction: column;
        
        padding: 1rem;
        border-right: 2px solid gray;
        // width: 500px;

        .link, .active-link {
            margin: 1rem 0;
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            border-bottom: 1.5px solid gray;
            &:hover {
                background-color: #000;
                color: #fff;
                padding: 0.2rem;
                font-family: 600;
                border-radius: 3px;
            }
        }
        .active-link {
            font-weight: 600;
        }

        button {
            background-color: none;
            padding: 0.5rem;
            border: none;
            margin-top: 3rem;
            text-transform: uppercase;
            color: #000;
            cursor: pointer;
            font-weight: 600;
        }
    }
    .details {
        padding: 1rem 2rem;
        .table-scroll {
            overflow-x: auto;
        }
          table {
            table-layout: fixed;
            padding: 1rem 0;
          }
          tr {
        
            th {
                font-weight: bold;
                text-transform: uppercase;
                text-align: left;
                // background-color: gray;
                width: 300px;
                // color: #fff;
                padding: 0 0.5rem;
                border-right: 2px solid #000;
                border-bottom: 2px solid #000
            }
            td {
                padding: 0.5rem;
                // border-bottom: 2px solid #000
            }
            .address {
                padding: 0.5rem 0;
            }
          }
        
    }
    @media screen and (max-width: 700px){
        display: block;
        .accountdetails-link {
            display: block;
            margin: 1rem;

            .link, .active-link, button {
                margin-left: 0.5rem;
            }
            button {
                margin-top: 0;
            }
        }
        
    }
}
}